html
head 
title GOT TO CATCH THEM ALL
body 
link( href="server.js")
//-link(rel="stylesheet", href="app.js")
//-link(rel="stylesheet", href="style.css")


.col-sm-4
  .card(style='width: 18rem;')
    img.card-img-top(src='...' alt='...')


