html
head 
    script(src="pokemon.js")
    title GOT TO CATCH THEM ALL
    //- script(src="server.js")
    //- script(src="app.js")
body 
a(href="/") Home

//- template.pug
p #{name}'s Pug source code!





